html{
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #efefef;
}
.formulario{
    background-color: #fff;
    width: 400px;
    margin: auto;
    padding: 75px 59px;
    border-radius: 10px;
    text-align: center;
}
.titulo{
    font-size: 36px;
}
.contenedor{
    margin-top: 32px;
    
}
.grupo{
    padding-bottom: 40px;
}